<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="disenoBase::site-head"></head>
<body>
    <header th:replace="disenoBase::site-header"></header>
    <main class="container p-0" role="main">
        <div class="container" id="divCasoForm">
            <article>
                <header>
                    <h4 class="text-primary">Listado de Tareas</h4>
                </header>
				<table class="table table-striped table-bordered">
				    <thead class="thead-dark">
				        <tr>
				            <th>Etapa</th>
				            <th>Empleado</th>
				            <th>Fecha Inicio</th>
							<th>Fecha Fin</th>
							<th>Editar</th>
							<th>Iniciar</th>
							<th>Terminar</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr th:each="tarea : ${listaTareas}">
				            <td th:text="${tarea.etapa.nombre}"></td>
							<td th:text="${tarea.empleado != null} ?
							               ${tarea.empleado.apellido} + ', ' + ${tarea.empleado.nombre} : 'no asignado'"></td>
							<td th:text="${#calendars.format(tarea.fechaInicio, 'dd/MM/yyyy')}"></td>
							<td th:text="${#calendars.format(tarea.fechaFin, 'dd/MM/yyyy')}"></td>
							<td>
							  <a class="btn btn-outline-warning btn-sm"
							     th:href="@{/tarea/editar/}+${tarea.id}" role="button">Editar</a>
							</td>
							<td>
							  <a class="btn btn-outline-primary btn-sm"
							     th:href="@{/tarea/iniciar/} + ${tarea.id}">Iniciar</a>
							</td>
							<td>
							  <a class="btn btn-outline-success btn-sm"
							     th:href="@{/tarea/terminar/} + ${tarea.id}">Terminar</a>
							</td>
				        </tr>
				    </tbody>
					<tfoot>
					    <tr>
					        <td colspan=7>
					            <a class="btn btn-outline-secondary"
					                th:href="@{/trabajo/index}"
					                role="button">
					                Regresar
					            </a>
					        </td>
					    </tr>
					</tfoot>
				</table>
            </article>
        </div>
		<div class="container" id="divCasoRes" style="display: none"></div>
    </main>
	<footer th:replace="disenoBase::site-footer"></footer>
	<div th:replace="disenoBase::site-bootstrap"></div>
</body>
</html>
